@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --primary-text-color: black;
    --letter-background-color: #D3D6DA;
    --background-color:#f6f6f6;
    --secondary-text-color:#fff;
    --incorrect-letter-color: #787C7E;
    --correct-letter-color: #538D4E;
    --toggle-bg: #aaa9a9;
    --toggle-fg: rgb(0, 0, 105);
    --wrong-position-letter-color:#bca954;
    --invalid-toast:

    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
    
}

[data-theme="dark"]{
    --background-color:#000;
    --primary-text-color:#fff;
    --letter-background-color: #9c9d9f; 
    --incorrect-letter-color: #3A3A3C;
    --wrong-position-letter-color:#bca954;
}


*, html, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins", "General Sans";
    font-weight: 400;
    font-style: normal;
  }

.root{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard{
    background-color: var(--background-color);
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.keyboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.keyboard-row{
    display: flex;
    gap: 5px;
}

.letter{
    background-color: var(--letter-background-color);
    color: var(--primary-text-color);
    font-size: 12px;
    padding: 8px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
}

.grid-container{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.grid-row{
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}

.grid-cell{
    display: flex;
    width: 40px;
    height: 40px;
    border: 2px solid var(--letter-background-color);
    border-radius: 2px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--primary-text-color);
}

.incorrect{
    color: white;
    background-color: var(--incorrect-letter-color);
}

.correct{
    color: white;
    background-color: var(--correct-letter-color);
}

.wrong-position{
    color: white;
    background-color: var(--wrong-position-letter-color);
}



/* toast styles */
.toast-container {
    position: fixed;
    top: 20px;
    right: 50%;
    z-index: 9999;
  }
  
  .toast {
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 1rem;
    margin-bottom: 10px;
    border-left: 5px solid #198754;
    border-radius: 5px;
    min-width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    animation: slideIn 0.3s ease;
  }
  
  .toast.invalid {
    background-color: #fff;
    color: #505254;
    border-left-color: #737474;
  }
  .toast.game-over{
    background-color: #fff;
    color: #505254;
    border-left-color: #ffffff;
  }
  

  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translatey(-20px);
    }
    to {
      opacity: 1;
      transform: translatey(0);
    }
  }

/* modal styles */

.modal{
    display: none;
    position : fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:auto;
    background-color:rgb(0,0,0,0.4);

}

.modal-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #121213e3;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    height: 60%;
    border-radius: 5px;
    flex-direction: column;
}

.modal-content p{
    font-weight: 700;
    color: var(--background-color);
    font-size: 12px;
}

.target-word{
    font-weight: 800;
    color: var(--correct-letter-color);
}

.stats-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.stats-content{
    display: flex;
    gap: 1em;
}

.stats-figures{
    color: #fff;

}

.playAgain-btn{
    padding:10px;
    cursor: pointer;
    background-color: var(--correct-letter-color);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;

    transition: opacity 0.15s ease;
}
.playAgain-btn:hover{
    opacity: 0.9;
}
.playAgain-btn:active{
    opacity: 0.6;
}



@media(min-width:475px){

    .grid-cell{
        width: 45px;
        height: 45px;
        font-size: 18px;
    }

    .grid-row{
        gap: 0.2rem;
    }

    .grid-container{
        gap: 0.3rem;
    
    }

    .letter{
        font-size: 16px;
        padding: 10px;
    }

    .modal-content{
        margin: 15% auto;
        width: 40%;
        height: 60%;
    }
    
    .modal-content p{
        font-size: 12px;
    }
}
/*sm*/
@media(min-width:640px){
}
/*md*/
@media(min-width:768px){
    .grid-cell{
        width: 50px;
        height: 50px;
        font-size: 24px;
    }

    .grid-row{
        gap: 0.3rem;
    }

    .grid-container{
        gap: 0.5rem;
    
    }

    .letter{
        font-size: 18px;
        padding: 12px;
    }

    .modal-content{
        margin: 15% auto;
        width: 40%;
        height: 70%;
    }
    
    .modal-content p{
        font-size: 16px;
    }
}

/*lg*/
@media(min-width:1024px){
    .grid-cell{
        width: 55px;
        height: 55px;
        font-size: 32px;
    }

    .grid-row{
        gap: 0.2rem;
    }

    .grid-container{
        gap: 0.1rem;
    }

    .letter{
        font-size: 20px;
        padding: 14px;
    }

    .modal-content{
        margin: 10% auto;
        width: 50%;
        height: 70%;
    }
    
    .modal-content p{
        font-size: 18px;
    }
    

}
/*xl*/
/* @media(min-width:1280px){

} */
/*xxl*/
/* @media(min-width:1536px){

} */